<div class="content-container">
  <div class="heading-btn-container">
    <h3 class="animate__animated animate__backInDown">
      Discipline is choosing between what you want now and what you want most.
    </h3>
    <a
      href="/habit"
      class="btn btn-warning animate__animated animate__backInDown"
      >Get Started</a
    >
  </div>
</div>
