.habit-content {
  width: 100%;
  height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.new-habit-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.allHabit {
  width: 70%;
  border: 2px solid black;
}
